/* Variables */
:root {
  --link-color: #ffffff; /* Adjust t link color as needed */
  --link-hover-color: #ccc; /* Color for link hover state */
  --logo-color: #f5a623; /* Color for the logo */
  --rich-black-fogra-29_95: hsla(222, 18%, 11%, 0.95);
  --raisin-black-1: hsl(0, 0%, 16%);
  --raisin-black-2: hsl(236, 17%, 17%);
  --raisin-black-3: hsl(280, 11%, 11%);
  --raisin-black-4: hsl(280, 8%, 15%);
  --english-violet: hsl(274, 21%, 23%);
  --eerie-black-1: hsl(277, 25%, 10%);
  --eerie-black-2: hsl(280, 7%, 8%);
  --roman-silver: hsl(220, 6%, 59%);
  --quick-silver: hsl(0, 1%, 65%);
  --light-gray-1: hsl(0, 0%, 80%);
  --light-gray-2: hsl(0, 2%, 82%);
  --marigold_75: hsla(42, 99%, 46%, 0.75);
  --xiketic_90: hsla(280, 37%, 8%, 0.9);
  --cultured-2: hsl(0, 0%, 97%);
  --marigold: hsl(42, 99%, 46%);
  --platinum: hsl(0, 0%, 89%);
  --dim-gray: hsl(0, 0%, 42%);
  --white_15: hsla(0, 0%, 100%, 0.15);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --xiketic: hsl(277, 25%, 10%);
  --silver: hsl(0, 0%, 78%);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(236, 13%, 23%);
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--link-color);
}

/* Container */
.container {
  display: flex;
  justify-content: space-between; /* This will place the logo and nav at opposite ends */
  align-items: center; /* Aligns items vertically in the center */
  padding: 10px 20px; /* Add some padding around the items */
}

/* Navbar */
.navbar {
  border-bottom: none; /* Removes the bottom border */
}

/* Make the navbar title bigger */
.navbar-brand {
  font-size: 2rem; /* Adjust font size as needed */
  background-color: rgb(
    205,
    157,
    0
  ); /* This sets the background color to yellow */
  padding: 5px 10px; /* Add some padding */
  border-radius: 5px; /* Optional: rounds the corners */
}

/* Adjust the color for the title text if needed */

/* Ensures that the navbar links are evenly distributed and centered */
.navbar-collapse {
  justify-content: space-around; /* This will space out the navbar items evenly */
}

.navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1.5rem; /* Increases padding around the links */
  font-size: 1rem; /* Bigger font size for the links */
}

/* This increases the horizontal spacing between navbar items */
.navbar-nav {
  gap: 10rem; /* Adjust gap size as needed */
}

/* Additional styles to ensure navbar items are spaced out and centered */
@media (min-width: 992px) {
  /* Adjusts for larger devices where the navbar expands */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem; /* Increase right padding */
    padding-left: 1.5rem; /* Increase left padding */
  }
}

/* skip first the hero */

.hero {
  --section-padding: 60px;
  margin-block-start: 0; /* Changed from 84px to 0 to remove the top margin */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 100vh;
  display: grid;
  align-items: center;
  padding-top: 0%; /* You can adjust this value if needed */
}

.hero-content {
  text-align: left; /* Aligns text to the left */
  max-width: 1200px; /* Adjust the max width as needed */
  margin-left: auto; /* Keeps the content centered if less than max width */
  margin-right: auto; /* Keeps the content centered if less than max width */
  padding-left: 15px; /* Optional padding to ensure text doesn't touch the screen edge */
}

.hero-subtitle {
  color: var(--marigold);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-title {
  font-size: 90px;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.hero-title .span {
  color: var(--marigold);
}

.hero-text {
  color: var(--light-gray-2);
  margin-block-end: 45px;
}

.read-more-button {
  border: 2px solid #ffffff; /* White border, adjust color as needed */
  padding: 10px 20px; /* Adjust padding to match your design */
  font-weight: bold; /* Make the text bold */
  background-color: transparent; /* Transparent background */
  color: #ffffff; /* White text, adjust color as needed */
  text-transform: uppercase; /* Uppercase text */
  transition: background-color 0.3s ease; /* Smooth background transition for hover effect */
}

.read-more-button:hover {
  background-color: #ffffff; /* Change to a solid background on hover */
  color: #000000; /* Change text color on hover */
}

/* herobanner */

/* game section */
.games-section {
  background-color: #ffffff;
  text-align: center;
  padding: 50px 20px;
  font-family: "Arial", sans-serif;
}

.section-title {
  color: #686868;
  margin-bottom: 16px; /* space below the title */
  font-size: 70px;
}

.section-subtitle {
  color: #000;
  margin-bottom: 32px; /* space below the subtitle */
  font-size: 30px; /* size that matches design */
}

.section-subtitle .span {
  color: var(--marigold);
}

.game-slashes {
  color: var(--marigold);
  font-size: 50px;
}

/* Specific container for the games section to avoid flexbox */
.games-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-highlight {
  background: #f0f0f0;
  width: 600px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed to maintain a square */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto; /* This will help in centering if the container is larger */
}

.game-title {
  color: #000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 20px 0; /* space around the title */
  font-size: 50px;
}

.game-title .span {
  color: var(--marigold);
}

.game-image {
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.game-image img {
  max-width: 100%; /* Ensure the image does not overflow */
  max-height: 100%; /* Limit the height as well */
  object-fit: cover; /* Cover the area without stretching */
}

.game-tag {
  display: inline-block;
  background-color: #ffcc00;
  color: #ffffff; /* text color */
  padding: 10px 20px;
  margin-bottom: 16px; /* space below the tag */
  font-size: 14px; /* or any size that matches your design */
  border-radius: 20px; /* rounded corners */
}

.game-description {
  color: #000;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.6;
  margin-bottom: 0; /* no space below the paragraph */
  max-width: 500px; /* limit the width of the description */
  margin-left: auto; /* center the description */
  margin-right: auto; /* center the description */
  padding: 0 20px; /* add padding to ensure text doesn't touch the edges */
}

.line {
  color: var(--marigold);
  font-size: 30px;
  margin-top: 90px;
  display: block;
}

.game-highlight-memorycard {
  background: #f0f0f0;
  width: 600px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed to maintain a square */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto; /* This will help in centering if the container is larger */
  position: relative;
}

.game-image-memorycard {
  width: 100px; /* Adjust to container width */
  height: 100%; /* Adjust to container height */
  position: relative; /* Needed for absolute positioning of children */
  overflow: hidden; /* Ensures the image doesn't spill out */
}

.game-image-memorycard img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Covers the area without stretching. Adjust as needed */
}

/* aboutus */

/* This will center the 'About Us' heading and give space for the content below */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: #f2f2f2;
  color: #000;
}

.about-us h2 {
  font-size: 2.5rem; /* Adjust the size as needed */
  text-align: center;
  margin-bottom: 20px; /* Space below the heading */
  position: relative;
}

/* This pseudo-element creates the horizontal line under the 'About Us' heading */
.about-us h2::after {
  content: "";
  display: block;
  width: 100px; /* Length of the line */
  height: 4px; /* Thickness of the line */
  background-color: var(--marigold); /* Color of the line */
  position: absolute;
  bottom: -10px; /* Adjust the position as needed */
  left: 50%;
  transform: translateX(-50%);
}

/* Flex container for the logo and text side by side */
.about-us__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Adjust the max-width as needed */
  margin-top: 30px; /* Space from the heading 'About Us' */
}

.about-us__logo img {
  width: auto;
  max-width: 100%; /* To ensure it's responsive */
  height: auto;
  max-height: 200px; /* Adjust the max height as needed */
}

.about-us__content {
  max-width: 600px; /* Adjust the max-width as needed */
  margin-left: 20px; /* Spacing between the logo and the text */
}

.about-us__content p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left; /* Align to the left side of the content div */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* If you want the text to be bold and similar to the span in the image */
.about-us__content span {
  font-weight: bold;
  color: var(--marigold);
  font-size: 2rem;
}

.about-us__stats-container {
  display: flex;
  justify-content: space-around; /* Adjust to control the space between the stats */
  align-items: center; /* Center the stats vertically */
  width: 100%;
  margin-top: 30px; /* Space from the content above */
  flex-wrap: wrap; /* Allow the stats to wrap on smaller screens */
}

.stat {
  flex: 1; /* Allows the stats to grow and take up equal space */
  text-align: center; /* Centers the text within each stat */
  padding: 0 15px; /* Add padding on smaller screens when stats stack */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.stat__number {
  font-size: 2em; /* Adjust size as needed */
  color: var(--marigold); /* Use the color variable for consistency */
  margin-bottom: 0.5em; /* Space between the number and text */
}

.stat__text {
  font-size: 1em; /* Adjust size as needed */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .about-us__stats-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .stat {
    width: 100%; /* Each stat takes full width on small screens */
    margin-bottom: 20px; /* Space between stacked stats */
  }
}

/* footer */

